# Ignore Maven wrapper files
mvnw
mvnw.cmd

# Ignore build directories
target/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore local configuration files
*.iml
*.log

# Ignore Dockerfile (optional, if you don't want it in the image)
.git
target/
*.md
Dockerfile
docker-compose.yml
