# Ignore build directories
target/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore local configuration files
*.iml
*.log

# Ignore other files (but not mvnw and mvnw.cmd)
.git
target/
*.md
Dockerfile
docker-compose.yml
